VITE_MAPBOX_ACCESS_TOKEN=your_mapbox_token
VITE_GEMINI_API_KEY=your_gemini_api_key
VITE_GEMINI_MODEL_NAME=gemini-pro
VITE_ALLOWED_EMAIL=allowed_email_address
VITE_RESUME_URL="path_to_json_resume.json"
VITE_AUTH_PASSWORD=admin_password_here
VITE_WEB3FORMS_ACCESS_KEY=your_web3forms_access_key